doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		style
			include ../public/css/index.css
		link(href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css')
		title Home
	body
		if message
			h3 #{message}
			br
		div(class="intro-message")
			h1 Welcome to the Blog Application! 
			br
			hr(class="intro-divider")
		div(class='buttons')
			a(href='/login' class="action-button shadow animate yellow") Log in 
			|
			a(href='/register' class="action-button shadow animate yellow") Register 




