doctype html
html
	head
		title Home
	body
		h3 Welcome to the Blog Application! Please log in or register.
			br
			a(href='/login') Log in
			br
			a(href='/register') Register
		h2#error-message= message