doctype html
html
	head
		title Log in
	body
		br
		h3 Hi there! Please log in!
		if message
			h4 #{message}
		form(action='/login' method='POST' autocomplete='off')
			div
				input(name='loginEmail' type='text' placeholder='your email address')
				br
				input(name='loginPassword' type='password' placeholder='your password')
				br
				button(type='Submit') Log in! 
				br
		br
		a(href='/register') Register instead
		
				