doctype html
html
	head
		title Log in
	body

		if(message)
			h4 #{message}
		br
		form(action='/login' method='POST' autocomplete='off')
			div
				input(name='loginEmail' type='text' placeholder='your email address')
				br
				input(name='loginPassword' type='password' placeholder='your password')
				br
				button(type='Submit') Log in! 
				