doctype html
html
	head
		style
			include ../public/css/login.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		title Log in
	body
		div(class='topnav')
			a(class='active' href='login') Log in
			a(href='/register') Register
			a(href='/') Home
		if message
			h3 #{message}
		h2 Please provide your login details: 
		form(action='/login' method='POST' autocomplete='off')
			input(name='loginEmail' type='text' placeholder='Your email address...')
			br
			input(name='loginPassword' type='password' placeholder='Your password...')
			br
			button(type='Submit' class='action-button shadow animate blue') Log in! 
		
		
				