doctype html
html
	head
		style
			include ../public/css/allposts.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		title Your posts
	body
		div(class='topnav')
			a(class='active' href='myposts') My posts
			a(href='/posts') Create a post
			a(href='/allposts') All posts
			a(href='/profile') Profile
			a(href='/logout') Log out
		br
		if message
			h3 #{message} 
		br
		br
		div(class='box') 
			h1 Here are all your posts:
			hr(class="intro-divider")
			each post in posts
				h4 Title: #{post.title}
				h4 Post: #{post.body}
				br



