doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		style
			include ../public/css/posts.css
		link(href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css')
		title Create a post
	body
		div(class='topnav')
			a(class='active' href='posts') Create a post
			a(href='/profile') Profile
			a(href='/myposts') My posts
			a(href='/allposts') All posts
			a(href='/logout') Log out
		br
		if message 
			h3 #{message} 
		br
		br
		h1 Create a post
		form(action='/posts' method='post' autocomplete='off')
			input(name='title' type='text' placeholder='Insert your title')
			br
			br
			textarea(name='body' type='text' placeholder='Leave your message')
			br
			button(type='submit' class='action-button shadow animate blue') Post your message
		



				










