doctype html
html
	head
		style
			include ../public/css/posts.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		title All posts
	body
		div(class='topnav')
			a(class='active' href='posts') Create a post
			a(href='/profile') Profile
			a(href='/allposts') All posts
			a(href='/logout') Log out
		if message 
			h3 #{message} 
		h2 Create a post
		form(action='/posts' method='post' autocomplete='off')
			input(name='title' type='text' placeholder='Insert your title...')
			br
			br
			textarea(name='body' type='text' placeholder='Leave your message...')
			br
			button(type='submit' class='action-button shadow animate blue') Post your message!
		



				










