doctype html
html
	head
		title My profile
	body
		if message
			h4 #{message} 
			br
		if user
			h2 Welcome #{user.name}!
			br
		else
			h2 Welcome new person!
			br
		a(href='/posts') Create a post
		br
		a(href='/allposts') All posts
		br
		a(href='/myposts') My posts
		br
		a(href='/logout') Log out



		



