doctype html
html
	head
		style
			include ../public/css/profile.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		title My profile
	body
		div(class='topnav')
			a(class='active' href='profile') Profile
			a(href='/posts') Create a post
			a(href='/myposts') My posts
			a(href='/allposts') All posts
			a(href='/logout') Log out
		br
		if message
			h3 #{message} 
		if user
			h1 Welcome #{user.name}!
		else
			h1 Welcome new person!
		br
		div(class='details')
			h2 Your details are: 
			hr(class="intro-divider")
			h4 Email: #{user.email}
			h4 Username: #{user.name}




		



