body {
	background: url("../img/index.jpg") no-repeat center center fixed; 
	background-size: cover;
	background-position:center center;
	padding: 50px;
}

 h1 {
	font-family: 'Slabo 27px', serif;
	color: #292424;
	font-size: 40px;
	text-align: center;
	margin: 0;
}

h3 {
    font-family: 'Yu Gothic'; 
	text-align: center;
	color: red;
	font-weight: normal;
}

.intro-message {
	position: relative;
	margin-top: 300px;
}

.intro-divider {
	text-align: center;
	width: 800px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.login:hover, .register:hover {
	padding: 2px 0 0 2px;  
	transform: scale(1.1);
}

.animate{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.buttons {
	text-align: center;
	margin-top: 40px;
}

.action-button {
	position: relative;
	padding: 10px 30px;
	margin: 0px 10px 10px 0px;
	border-radius: 10px;
	font-family: 'Yu Gothic'; 
	font-size: 20px;
	font-weight: normal;
	color: black;
	text-decoration: none;	
}

.yellow {
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
}

.action-button:active {
	transform: translate(0px,5px);
	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

